<div class="page-container">

  <h1>Welcome to the NBA player guessing game!</h1>

  <div class="form-container">
    <turbo-frame id="season-form">
      <%= simple_form_for :season, url: root_path, remote: true, method: :post do |f| %>
        <%= f.input :season, collection: (1950..2023).to_a.reverse.map(&:to_s), prompt: 'Select a season', label: false %>
        <%= f.button :submit, 'Play!', class: "button-main" %>
      <% end %>
    </turbo-frame>
  </div>


<div id="message-container">
</div>



    <div class="correct-player-card">
      <% if @correct_player %>
        <h1>Who is this player?</h1>
        <div class="correct-player-info" data-correct-player-name="<%= @correct_player[:name] %>">
          <p>Points: <span class="stat"><%= @correct_player[:points] %></span></p>
          <p>Rebounds: <span class="stat"><%= @correct_player[:rebounds] %></span></p>
          <p>Assists: <span class="stat"><%= @correct_player[:assists] %></span></p>
        </div>
      <% end %>
    </div>


  <div class="heading-container hide-element">
    <h1>Choose from these four!</h1>
  </div>


  <div class="player-card-container">
    <% combined_players = @guess_players + [@correct_player] %>
      <% combined_players.shuffle.compact.each do |player| %>
        <div class="player-card" data-player-name="<%= player[:name] %>">
          <% if player[:image_url]&.present? %>
            <%= image_tag(player[:image_url], alt: "Player Image") %>
          <% else %>
            <p>No Image Available</p>
          <% end %>
          <h2><%= player[:name] %></h2>
        </div>
      <% end %>
  </div>


</div>
