
  <!-- Top Navbar -->

  <div class="bar bar-top">
    <%# <div class="button-container"> %>
      <button id = showStats>Statistics</button>
      <button id = showInstructions >Instructions</button>
    <%# </div> %>
  </div>

  <!-- Modal -->

  <div id="myModal" class="modal">
    <div class="modal-content">
      <span class="close">&times;</span>
      <div class="stats-container">
        <div id="dailyStreakAlert"></div>
        <div id="statsContent"></div>
        <div id="statsContent1"></div>
        <div id="statsContent2"></div>
        <div id ="share-header" class="hide-element">
          <p>Nice work! Share with your friends:</p>
        </div>
        <div id="share-buttons-container" class="hide-element">
          <button class="share-button" id ="x-share-button">
            <%= image_tag("x-logo-white.png", alt: "Share on X") %>
          </button>
          <button class="share-button" id ="wa-share-button">
            <%= image_tag("wa-logo.png", alt: "Share on Whatsapp") %>
          </button>
          <%# <button class="share-button" id ="fb-share-button">
            <%= image_tag("x-logo-black.png", alt: "Share on X") %>
          <%# </button>  %>
        </div>
      </div>

      <div class="instructions-container">
        <div id="instructionsWelcome"></div>
        <div id="instructionsContent"></div>
        <div id="instructionsContent1"></div>
        <div id="instructionsContent2"></div>
      </div>
    </div>
  </div>

  <!-- Page content -->



    <div class="page-container">

      <div class="guess-cards-container">

        <div class="guess-card">

          <div class="guess-card-header">
            <div class="icon-container">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                <g clip-path="url(#clip0_21326_491)">
                <path d="M8.22869 18.0143C9.0697 17.3161 9.6062 16.2631 9.6062 15.0872C9.6062 12.9899 7.9002 11.2837 5.80346 11.2837C3.70654 11.2837 2.00055 12.9899 2.00055 15.0872C2.00055 16.2631 2.53705 17.3159 3.37805 18.0143C1.48199 18.887 0.12756 20.7517 0.00158368 22.9609C-0.0137972 23.2288 0.0834318 23.4946 0.268185 23.6902C0.454037 23.8872 0.716061 24 0.986874 24H10.6201C10.8907 24 11.1527 23.8872 11.3386 23.6902C11.5235 23.4946 11.6205 23.2288 11.6053 22.9609C11.4792 20.7517 10.1249 18.887 8.22869 18.0143ZM3.4068 15.0872C3.4068 13.7653 4.48199 12.6899 5.80346 12.6899C7.12494 12.6899 8.19995 13.7653 8.19995 15.0872C8.19995 16.409 7.12494 17.4844 5.80346 17.4844C4.48199 17.4844 3.4068 16.409 3.4068 15.0872ZM1.45379 22.5938C1.79144 20.4844 3.62194 18.8906 5.80346 18.8906C7.98498 18.8906 9.81567 20.4842 10.153 22.5938H1.45379Z" fill="#00ADB5"/>
                <path d="M17.3253 0C13.6448 0 10.6505 3.01373 10.6505 6.71814C10.6505 7.71661 10.8739 8.70831 11.2972 9.60443C11.092 10.2576 10.6133 10.7964 9.98126 11.0707C9.62494 11.2253 9.46161 11.6395 9.61615 11.9956C9.64563 12.0635 9.68445 12.1241 9.73059 12.1772C10.3266 12.8624 11.1872 13.2554 12.0919 13.2554C12.8088 13.2554 13.4938 13.0096 14.0442 12.5687C15.0421 13.1373 16.1649 13.4363 17.3253 13.4363C21.0057 13.4363 24 10.4225 24 6.71814C24 3.01373 21.0057 0 17.3253 0ZM17.3253 12.03C16.257 12.03 15.2287 11.7098 14.3513 11.1035L14.3511 11.1037C14.0559 10.8994 13.6481 10.9495 13.4128 11.2302C13.0829 11.6235 12.6015 11.8491 12.0919 11.8491C11.8923 11.8491 11.6966 11.8138 11.5124 11.7475C12.1256 11.2137 12.5605 10.4879 12.7324 9.67273C12.7685 9.50244 12.739 9.3338 12.6619 9.19189C12.2661 8.4353 12.0569 7.5802 12.0569 6.71814C12.0568 3.78918 14.4203 1.40625 17.3253 1.40625C20.2304 1.40625 22.5937 3.78918 22.5937 6.71814C22.5937 9.64709 20.2304 12.03 17.3253 12.03Z" fill="#00ADB5"/>
                <path d="M15.8602 5.28297C16.2084 5.4549 16.6299 5.3119 16.8019 4.96363C16.9086 4.7472 17.1318 4.61207 17.3755 4.62141C17.6887 4.63276 17.9532 4.89662 17.9651 5.20973C17.9765 5.51057 17.772 5.77332 17.4788 5.83448C16.9982 5.93446 16.6493 6.36054 16.6493 6.8476V7.33485C16.6493 7.72321 16.9641 8.03797 17.3525 8.03797C17.7407 8.03797 18.0556 7.72321 18.0556 7.33485V7.12812C18.8647 6.82984 19.404 6.04322 19.3703 5.15626C19.3304 4.10615 18.4764 3.25379 17.4259 3.21607C16.6334 3.18769 15.8922 3.62934 15.5408 4.34126C15.3689 4.68952 15.5119 5.11121 15.8602 5.28297Z" fill="#00ADB5"/>
                <path d="M17.3528 8.42523C16.9644 8.42523 16.6497 8.73999 16.6497 9.12836V9.51837C16.6497 9.90656 16.9644 10.2215 17.3528 10.2215C17.7411 10.2215 18.0559 9.90656 18.0559 9.51837V9.12836C18.0559 8.73999 17.7411 8.42523 17.3528 8.42523Z" fill="#00ADB5"/>
                </g>
                <defs>
                <clipPath id="clip0_21326_491">
                <rect width="24" height="24" fill="white"/>
                </clipPath>
                </defs>
              </svg>
            </div>
            <div class="text-container">
              <div class="label">Daily Guesses</div>
              <div class="number" id="total-guess-number">0</div>
            </div>
          </div>

          <div class="bar-container">
            <div class="progress-bar-background">
              <div class="guess-bar" id="total-guess-bar"></div>
            </div>
          </div>

        </div> <!-- dailly guesses card -->

        <div class="guess-card">

          <div class="guess-card-header">
            <div class="icon-container">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                <g clip-path="url(#clip0_21326_506)">
                <path d="M23.6592 11.2767L20.345 8.54334L20.7557 4.2671C20.8121 3.68098 20.3194 3.18807 19.7329 3.24428L15.4567 3.65498L12.7233 0.340781C12.3486 -0.113502 11.6515 -0.113685 11.2767 0.340781L8.54352 3.65517L4.2671 3.24428C3.68098 3.18807 3.18788 3.6808 3.24428 4.2671L3.65517 8.54352L0.340781 11.2767C-0.113502 11.6515 -0.113685 12.3484 0.340781 12.7233L3.65498 15.4567L3.24428 19.7329C3.18807 20.3192 3.6808 20.8119 4.2671 20.7557L8.54352 20.345L11.2767 23.6592C11.6515 24.1135 12.3486 24.1137 12.7233 23.6592L15.4567 20.345L19.7329 20.7557C20.3192 20.8119 20.8121 20.3192 20.7557 19.7329L20.345 15.4567L23.6592 12.7233C24.1137 12.3484 24.1137 11.6515 23.6592 11.2767ZM18.7677 14.3271C18.5273 14.5252 18.4012 14.8299 18.431 15.1399L18.7806 18.7806L15.1401 18.4308C14.8301 18.4012 14.5252 18.5273 14.3271 18.7676L12 21.5892L9.67292 18.7676C9.49402 18.5506 9.22815 18.4266 8.94983 18.4266C8.91999 18.4266 8.89014 18.4281 8.86011 18.431L5.21943 18.7807L5.56916 15.1401C5.59883 14.8299 5.47267 14.5254 5.23243 14.3271L2.41097 12L5.23243 9.67292C5.47285 9.4748 5.59901 9.17011 5.56916 8.86011L5.21943 5.21943L8.86011 5.56916C9.17011 5.59901 9.4748 5.47267 9.6731 5.23243L12.0002 2.41078L14.3271 5.23243C14.5254 5.47267 14.8303 5.59883 15.1401 5.56916L18.7807 5.21943L18.431 8.86011C18.4012 9.17011 18.5275 9.4748 18.7677 9.67292L21.5894 12L18.7677 14.3271ZM16.699 8.41901C17.0824 8.76691 17.1112 9.35981 16.7633 9.74323L11.5243 15.5167C11.1768 15.9 10.5829 15.9296 10.199 15.5801L7.29987 12.9406C6.91718 12.5922 6.88917 11.9993 7.2378 11.6164C7.58643 11.2335 8.17933 11.2057 8.5622 11.5541L10.7668 13.5613L15.3748 8.48328C15.7227 8.09968 16.3156 8.07111 16.699 8.41901Z" fill="#00ADB5"/>
                </g>
                <defs>
                <clipPath id="clip0_21326_506">
                <rect width="24" height="24" fill="white"/>
                </clipPath>
                </defs>
              </svg>
            </div>
            <div class="text-container">
              <div class="label">Correct Guesses</div>
              <div class="number" id="correct-guess-number">0</div>
            </div>
          </div>

          <div class="bar-container">
            <div class="progress-bar-background">
              <div class="guess-bar" id="correct-guess-bar"></div>
            </div>
          </div>

        </div> <!--correct guess card -->

        <%# <div class="guess-card">
          <div class="guess-card-header">
              <div class="icon-container">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                  <g clip-path="url(#clip0_21326_506)">
                  <path d="M23.6592 11.2767L20.345 8.54334L20.7557 4.2671C20.8121 3.68098 20.3194 3.18807 19.7329 3.24428L15.4567 3.65498L12.7233 0.340781C12.3486 -0.113502 11.6515 -0.113685 11.2767 0.340781L8.54352 3.65517L4.2671 3.24428C3.68098 3.18807 3.18788 3.6808 3.24428 4.2671L3.65517 8.54352L0.340781 11.2767C-0.113502 11.6515 -0.113685 12.3484 0.340781 12.7233L3.65498 15.4567L3.24428 19.7329C3.18807 20.3192 3.6808 20.8119 4.2671 20.7557L8.54352 20.345L11.2767 23.6592C11.6515 24.1135 12.3486 24.1137 12.7233 23.6592L15.4567 20.345L19.7329 20.7557C20.3192 20.8119 20.8121 20.3192 20.7557 19.7329L20.345 15.4567L23.6592 12.7233C24.1137 12.3484 24.1137 11.6515 23.6592 11.2767ZM18.7677 14.3271C18.5273 14.5252 18.4012 14.8299 18.431 15.1399L18.7806 18.7806L15.1401 18.4308C14.8301 18.4012 14.5252 18.5273 14.3271 18.7676L12 21.5892L9.67292 18.7676C9.49402 18.5506 9.22815 18.4266 8.94983 18.4266C8.91999 18.4266 8.89014 18.4281 8.86011 18.431L5.21943 18.7807L5.56916 15.1401C5.59883 14.8299 5.47267 14.5254 5.23243 14.3271L2.41097 12L5.23243 9.67292C5.47285 9.4748 5.59901 9.17011 5.56916 8.86011L5.21943 5.21943L8.86011 5.56916C9.17011 5.59901 9.4748 5.47267 9.6731 5.23243L12.0002 2.41078L14.3271 5.23243C14.5254 5.47267 14.8303 5.59883 15.1401 5.56916L18.7807 5.21943L18.431 8.86011C18.4012 9.17011 18.5275 9.4748 18.7677 9.67292L21.5894 12L18.7677 14.3271ZM16.699 8.41901C17.0824 8.76691 17.1112 9.35981 16.7633 9.74323L11.5243 15.5167C11.1768 15.9 10.5829 15.9296 10.199 15.5801L7.29987 12.9406C6.91718 12.5922 6.88917 11.9993 7.2378 11.6164C7.58643 11.2335 8.17933 11.2057 8.5622 11.5541L10.7668 13.5613L15.3748 8.48328C15.7227 8.09968 16.3156 8.07111 16.699 8.41901Z" fill="#00ADB5"/>
                  </g>
                  <defs>
                  <clipPath id="clip0_21326_506">
                  <rect width="24" height="24" fill="white"/>
                  </clipPath>
                  </defs>
                </svg>
              </div>
              <div class="text-container">
                <div class="label">Current Streak</div>
                <div class="number" id="correct-guess-number">0</div>
              </div>
            </div>

            <div class="bar-container">
              <div class="progress-bar-background">
                <div class="guess-bar" id="correct-guess-bar"></div>
              </div>
            </div>

        </div> <!--current streak card --> %>


      </div> <!--guess cards container -->


      <div class="landing-container">
        <div id="welcome-header">
          <h1>NBA Guesser</h1>
        </div>

        <div class="form-container" turbo-frame id="season-form">
            <%= simple_form_for :season, url: root_path, remote: true, method: :post do |f| %>
              <%= f.input :season, collection: (1950..2024).to_a.reverse.map(&:to_s), prompt: 'Select a season', label: false %>
              <div id="submit-button">
                <%= f.button :submit, 'Play', class: "button-main", id: "play-button" %>
              </div>
            <% end %>
        </div>
      </div>


      <div class="loader-wrapper hide-element">
        <div class="floor"></div>
          <div class="ball">
            <div class="ball-line"></div>
            <div class="ball-line"></div>
            <div class="ball-line"></div>
            <div class="ball-line"></div>
        </div>
      </div>



      <div id="message-container">
      </div>


        <div class="correct-player-card hide-element">
          <% if @correct_player %>
            <h1>Which player averaged</h1>
            <div class="correct-player-info" data-correct-player-name="<%= @correct_player[:name] %>">
              <h4>Points: <span class="stat"><%= @correct_player[:points] %></span></h4>
              <h4>Rebounds: <span class="stat"><%= @correct_player[:rebounds] %></span></h4>
              <h4>Assists: <span class="stat"><%= @correct_player[:assists] %></span></h4>
            </div>
          <% end %>
        </div>


      <div class="heading-container hide-element">
      </div>


      <div class="player-card-container hide-element">
        <% combined_players = @guess_players + [@correct_player] %>
          <% combined_players.shuffle.compact.each do |player| %>
            <div class="player-card" data-player-name="<%= player[:name] %>">
              <% if player[:image_url].present? %>
                <%= image_tag(player[:image_url], alt: "Player Image") %>
              <% else %>
                <%= image_tag("default-player-img.png", alt: 'Default Player Image') %>
              <% end %>
              <h2><%= player[:name] %></h2>
            </div>
          <% end %>
      </div>


    </div>

    <!-- Results content -->

    <div class="page-container-two hide-element">


      <div class ="result-page-container hide-element">


          <div class="result-container">
            <h1>Nice work hoophead!</h1>
          </div>

          <div class="subheading-container ">
            <h2>The correct answer was</h2>
          </div>


          <div class="result-player-card ">
            <% if @correct_player && @correct_player[:image_url].present? %>
              <%= image_tag(@correct_player[:image_url], alt: "A picture of #{@correct_player[:name]}") %>
            <% else %>
              <%= image_tag("default-player-img.png", alt: 'Default Player Image') %>
            <% end %>
            <% if @correct_player && @correct_player[:name].present? %>
              <h2><%= @correct_player[:name] %></h2>
            <% end %>
          </div>


        <div class="result-button-container">
          <button id="try-again-button" class="button-main">Try again!</button>
        </div>


      </div>

    </div>

  <!-- Bottom Navbar -->

  <div class="bar bar-bottom">
    <a href="https://grantchichester.me" target="_blank">
      <%= image_tag("GC-logo-white-no-bg.png", alt: "Grant Chichester's logo") %>
    </a>
  </div>
