<!DOCTYPE html>
<html>
  <head>
    <title>NBAguesser</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="csrf-token" content="<%= form_authenticity_token %>">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_pack_tag "application", "data-turbo-track": "reload", defer: true %>
    <!-- favicon stuff -->
    <%= render 'application/favicon' %>
    <!-- Javascript variables -->
    <script>
      const winPageURL = "<%= win_page_path %>";
      const losePageURL = "<%= lose_page_path %>";
      const homePageURL = "<%= root_path %>";
      function refreshPage() {
        window.location.reload();
      }
    </script>
    <!-- /Javascript variables -->
  </head>

  <body>
    <%= yield %>
  </body>
</html>
